[Unit]
AllowIsolate=false
DefaultDependencies=false
Description=Mount All Partitions as R/W
IgnoreOnIsolate=true
RefuseManualStart=true
RefuseManualStop=true
StopWhenUnneeded=true
[Service]
ExecStart=true
RemainAfterExit=true
Type=oneshot