[Unit]
AllowIsolate=false
ConditionPathIsMountPoint=/
DefaultDependencies=false
Description=Mount Root Partition as R/W
IgnoreOnIsolate=true
RefuseManualStart=true
RefuseManualStop=true
StopWhenUnneeded=true

[Service]
ExecStart=mount -o remount,rw /
ExecStop=mount -o remount,ro /
RemainAfterExit=true
Type=oneshot

[Install]
RequiredBy=system-rw.service
